.similar{
    font-size: 11px;
    font-weight: bold;
    margin: 2% 0 2% 0;
}

.name_highligth{
    font-size: 12px;
    font-weight: bold;
}

.action_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.find_stores{
    padding: 3%;
    flex: 0.45;
    font-size: 11px;
    border: 1px solid #C6C6C6;
    text-decoration: none;
    color: black;
}

.see_on_me{
    border: 1px solid #C6C6C6;
    padding: 3%;
    flex: 0.45;
    font-size: 11px;
    text-decoration: none;
    color: black;
}