.gridpage{
    padding: 5%;
}

.product_details{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.product_details > img {
    flex:0.1;
}

.desc {
    flex:0.85;
}

.name{
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}

.price{
    font-size: 9px;
    text-align: left;
    color:rgba(0, 0, 0, 0.5)
}