.clothes_container {
    padding: 5% 5% 0 5%;
}

.fullimage{
    width: 100%;
}

.bottombar{
    display: flex;
    background-color: rgba(233, 115, 116, 0.2); ;
    padding: 4%;
    align-items: center;
    justify-content: space-between;
}

.icon{
    display: flex;
    flex:0.1;
}

.name{
    display: flex;
    flex:0.5;
}

.share{
    display: flex;
    flex:0.1;
}

.comment{
    display: flex;
    flex:0.1;
}

.like{
    display: flex;
    flex:0.1;
}

.icon > .MuiSvgIcon-root{
    color: rgba(0, 0, 0, 0.54);;
}
.share > .MuiSvgIcon-root{
    color: rgba(0, 0, 0, 0.54);;
}
.comment > .MuiSvgIcon-root{
    color: rgba(0, 0, 0, 0.54);;
}
.like > .MuiSvgIcon-root{
    color: rgba(0, 0, 0, 0.54);;
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #EEC6C7;
}

.header > img {
    flex:0.1;
}

.header > p {
    flex:0.7;
    font-size:11px;
    font-weight: bold;
}

.footer{
    display: block;
    text-align: center;
}