.search{    
    margin-bottom: 1em;
}

input{
    padding: 3%;
}

.MuiCard-root{
    border-radius: 0 !important;
    box-shadow: none !important;
}

.container {
    padding: 5%;
}

.explore_image > .MuiContainer-root{
    padding-left: 0;
    padding-right: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row1 {
    width: 40%;
    height: 100vh;
    text-align: center;
}
.row2 {
    padding-top: 10% !important;
    width: 40%;
    height: 100vh;
    text-align: center;
}

.MuiCardContent-root{
    padding: 0 !important;
}

.MuiTextField-root{
    padding-left: 2%;
    padding-right: 2%;
    border-color: rgba(15, 10, 10, 0.2) !important;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    font-weight: bold;
}

.MuiFormLabel-root.Mui-focused {
    color: transparent !important;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
  }