.my_closet_container{
    display:flex;
    justify-content: flex-start;
    padding-top:10%;
}

.master_container{
    padding: 5% 5% 0 5%;
}

.model{
    flex:0.5;
    color: #C6C6C6;
    font-family: Helvetica; 
    font-weight: bold;
}

.slider{
    background: #fff;
    display: flex;
    justify-content: center; 
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.sidescreentop{
  /* height: 4vh;
  width: 20vh; */
  background: #E97374;
  display: flex; 
  justify-content: center; 
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
}

.list{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: column wrap;
}
.imgcard{
    /* margin: 10px; */
    background: #fff;
    /* height: 13vh;
    width: 13vh; */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 30%;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.generate{
    background: #F2CC68;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
    font-family: Helvetica;
}

.img_closet{
    margin: 6% 0 6% 0;
}

.img_container{
    text-align:center;
}

.clothes_container {
    padding: 5% 5% 0 5%;
}

.topbar{
    display: flex;
    align-items: center;
    width: 100%;
}

.left{
    flex:0.1;
    display: flex;
    text-align:center;
    align-items:center;
}

.back > .MuiSvgIcon-root{
    color: #323232;
}

.title{
    height: 5vh;
    flex:0.1;
    display: flex;
    text-align:center;
    align-items:center;
    padding-left: 42.5%;
    padding-right: 42.5%;
}

.title > h2{
    font-weight: 500;
    font-stretch: wider;
}

.fullimage{
    width: 100%;
}

.bottomicon{
    display: flex;
    padding: 4%;
    align-items: center;
}

.bottomicon > .icon{
    display: flex;
    flex:0.1;
}

.bottomicon > .name{
    display: flex;
    flex:0.1;
    color: white;
}

.header{
    display: flex;
    justify-content: space-evenly;
    /* background-color: #EEC6C7; */
}

.header > img {
    flex:0.1;
}

.header > p {
    flex:0.7;
    font-size:11px;
    font-weight: bold;
}

.footer{
    display: block;
    text-align: center;
}

.closet{
    display: flex;
    flex:0.5;
    background-color: white;
    border-radius: 10px;
    height:100%;
}

.closet_grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
    width: 100%;
}

.closet_item{
    padding: 1%;
    margin: 2% 0 2% 0;
    text-align: center !important;
    align-items: center !important;
    display: block;
    flex:1;
    width: 100%;
}
.box_overlay{
    flex:1;
}