.scan_image{
    padding: 5%;
}

.scan_text{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 3%;
    margin-bottom: 5%;
}

.scan_bottom{
    text-align: center;
    
}