.search_container{
    padding: 5%;
}

.type{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 1%;
}

.item{
    display: flex;
    flex-wrap: wrap;
}

.item_each{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    border:0.5px solid black;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    margin: 1%;
    text-decoration: none;
}

.green{
    color: #35BF6D;
}

.green_border{
    border:0.5px solid rgba(53, 191, 109, 0.5);
    border-color: rgba(53, 191, 109, 0.5);
    color: #35BF6D;
}


.category{
    margin-bottom: 2%;
}