.shopping{
    padding: 5%;
}

.choice{
    display: flex;
    justify-content: space-around;
}

.leftchoice{
    flex:0.5;
    align-items: center;
    text-align: center;
    font-size:12px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;

}

.rightchoice{
    flex: 0.5;
    align-items: center;
    text-align: center;
    font-size:12px;
    color: #F1484A;
    text-decoration: none;
}

.maps{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}