.topbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
}

.left{
    flex:0.1;
    display: flex;
    text-align:center;
    align-items:center;
}

.back > .MuiSvgIcon-root{
    color: #323232;
}

.center{
    flex:0.6;
    display: block;
    text-align:center;
    align-items:center;
}

.center > h2{
    font-weight: 500;
    font-stretch: wider;
}