.search{
    margin-bottom: 1em;
}

.MuiTextField-root{
    border-color: rgba(196, 196, 196, 0.2) !important;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 0;
}

.MuiFormLabel-root.Mui-focused {
    color: transparent !important;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
  }