

.container > .MuiSvgIcon-root{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 130%;
    padding-left: 20%;
    padding-right: 18%;
}

.container{
    height: 30vh;
}