body, html {
  height: 100%;
  margin: 0;
}

h1{
  margin: 0;
  padding: 0;
}

.maintext{
  padding-top: 50%;
  padding-left: 30%;
  align-items: center;
  text-align: center;
}

.maintext > h1{
  font-family: Futura, sans-serif;
  color: #E97374 !important;
  font-weight: 200;
  font-size: 55px;
  padding-right: 10%;
  text-align: right;
}

.maintext > img{
  padding-left: 20%;
}

.getstarted{
  padding-top: 40%;
  text-align: right;
  padding-right: 10%;
  margin: 0;
}

.maintext > p{
  color: #808080 !important;
  font-weight: regular;
  font-size: 16px;
  text-align: right;
  padding-right: 10%;
}

.App {
  background-image: url('./static/img/bg.png');
  height: 100vh;
  background-position:center;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
